<!DOCTYPE html>
<html lang="en">
    {% include header.html %}
    <body>
        <div id="wrapper" class="index">
            {% include content.html %}
            {% include footer.html %}
            {% include script.html %}
       		<!-- jquery -->
            <!-- loads the recipes and adds the selected one below -->
            <script src="/js/jquery-3.3.1.min.js"></script>
            <script src="/js/utils.js"></script>
            <script src="/js/list-recipes.js"></script>    
        </div>
    </body>
</html>