<!DOCTYPE html>
<html lang="en">
    {% include header.html %}
    <body>
        <div id="wrapper" class="index">
            {% include contentrecipe.html %}
            {% include footer.html %}
            <!-- jquery -->
            <!-- loads the recipes and adds the selected one below -->
            <script src="/js/jquery-3.3.1.min.js"></script>
            <script src="/js/showdown.min.js"></script>
            <script src="/js/utils.js"></script>
            <script src="/js/list-recipes.js"></script>  
            <script src="/js/create-recipe.js"></script> 
        </div>
    </body>
</html>